---
import Layout from '../layouts/Layout.astro';
import NumberBoard from '../components/NumberBoard.astro';
import LetterBoard from '../components/LetterBoard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<NumberBoard />
		<!-- <LetterBoard /> -->
	</main>
</Layout>

<style>
	main {
		width: 50%;
		color: white;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 0;
		margin: 50px 20px;
	}


</style>
