---
import Layout from '../layouts/Layout.astro';
import MainBoards from '../components/MainBoards.svelte';

---

<Layout title="Welcome to Astro.">
	<main>
		<MainBoards client:idle />
	</main>
</Layout>

<style>
	main {
		width: 50%;
		color: white;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 0;
		margin: 20px auto;
	}


</style>
