---
import Layout from '../layouts/Layout.astro';
import NumberBoard from '../components/NumberBoard.svelte';
import Board from '../components/Board.svelte';
import Number from '../components/Number.svelte';

let showNumberBoard = false;

setTimeout(() => {
	showNumberBoard = false
	console.log('hey')
}, 3000);

---

<Layout title="Welcome to Astro.">
	<main>
		{
			(showNumberBoard)
			? <NumberBoard client:idle />
			: <Board client:idle />
		}


		<!-- <LetterBoard /> -->
		<!-- <NumberBoard /> -->
	</main>
</Layout>

<style>
	main {
		width: 50%;
		color: white;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 0;
		margin: 20px auto;
	}


</style>
