---
import Layout from '../layouts/Layout.astro';
import NumberBoard from '../components/NumberBoard.svelte';
import Board from '../components/Board.svelte';

---

<Layout title="Welcome to Astro.">
	<main>
		<NumberBoard client:idle />
		<Board client:idle />


		<!-- <LetterBoard /> -->
		<!-- <NumberBoard /> -->
	</main>
</Layout>

<style>
	main {
		width: 50%;
		color: white;
		font-family: sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 20px 0;
		margin: 50px auto;
	}


</style>
