<!-- ---
import Hexa from './Hexa.astro';
import readerLetters, { initIndex, initLetters, initNumMaximo, initNumbers, initSumas} from '../stores/store.js'

// const num = () => Math.floor(Math.random() * 10 + 1)

// const numeros =
// [
//   [num(), num(), num()],
//   [num(), num(), num(), num()],
//   [num(), num(), num(), num(), num()],
//   [num(), num(), num(), num()],
//   [num(), num(), num()],
// ]

// const indice = { a: 0, b: 1, c: 2, d: 3, e: 4, f: 5, g: 6 , h: 7 , i: 8 , j: 9 , k: 10 , l: 11 , m: 12 , n: 13 , o: 14 , p: 15 , q: 16 , r: 17, s: 18}

// const sumas =
//   ['abc','adh','aej','bei','bfk','cba','cfj','cgl',
//   'def','din','ein','eim','ejo','fed','fjn','fkp','gfe','gko',
//   'hda','hij','hmq','ieb','ijk','inr','jea','jfc','jih','jkl','jnq','jos','kfb','kji','kor','lgc','lkj','lps',
//   'mie','mno','nid','njf','nop','oje','okg','onm','pkf','pon',
//   'qmh','qnj','qrs','rni','rok','soj','spl','srq']

// const data = {}

// const arrSumas = sumas.map( terna => terna.split('')).map( item => item.reduce((acc,el) => acc + numeros.flat()[indice[el]],0))

// arrSumas.map( valor => [data[valor] = (data[valor] || 0) + 1]);

// const sumaMaxima = Object.entries(data).sort( (a: any, b: any) => b[1] - a[1])[0][0];
// // console.log(arrSumas, data, sumaMaxima)

---

<main>
  {
    $initNumbers.map(row => (
      <div class={`flex`}>
        {
          row.map( value => (
            <div class='hexa'>
              <Hexa valor={value} clase='light'/>
            </div>
          ))
        }
      </div>
    ))
  }
</main>

<style>
  .flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.hexa {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: -6px;
		margin-top: -16px;
	}
</style>
 -->
